$color-black: #151715;
$color-white: #fff;

.footer {
	width: 100%;
	position: fixed;
  bottom:0;
	padding: 15px;
	background: $color-black;
	font-size: 15px;
	color: $color-white;
	z-index: 50;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__title {
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.footer__text {
	font-size: 15px;
}

.footer__social {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	background: $color-black;
}
